.header, .hero, .body, .bar, .footer{
	background-color: limegreen;
	margin-bottom: 10px;
}

.box{
	margin: 10px 0;
	background-color: red;
	min-height: 80px;
	color: white;
}

.three{
	background-color: yellow;
	color: black;
}

.five{
	background-color: blue;
}